
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.4;

    max-width: 620px;
    margin: 20px auto;
    border-top: 6px solid #444;
}

h1 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 64px;
    font-weight: normal;
    margin-bottom: 0;
}
h1, h2 {
    color: #333;
}

header,
main,
footer {
    padding: 0 10px;
}

/* mailchimp form */
input,
button {
    padding: .6em 1.2em;
}

/* mailchimp archive style */
.display_archive {}
.campaign { margin: 5px; }
